.app .filter {
    font-weight: 600;
    display: flex;
    margin: 2rem 1rem;
}
.filter span {
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s;
}
.filter span:hover {
    cursor: pointer;
    margin-left: 15px;
    border-radius: 20px;
    background-color: #F2F2F2;
    border-radius: 2px solid #CFD2DC;
    width: 4rem;
    padding: 0.1rem;
}
.filter .read {
    cursor: pointer;
    margin-left: 15px;
    border-radius: 20px;
    background-color: #F2F2F2;
    border-radius: 2px solid #CFD2DC;
    width: 4rem;
    padding: 0.1rem;
}